.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  width: 65%;
  height: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
